<div class = "orderButton">

    <img class = "aboutUsSVGSize route"
         src = "assets/Images/orderButton.svg"
         [routerLink]='"."'
         [fragment]="'order'">

</div>

<div class = "contactButton">

    <img class = "aboutUsSVGSize route"
         src = "assets/Images/contactButton.svg"
         [routerLink]='"."'
         [fragment]="'contact'">

</div>


<div class="mainText">

    <div class= "title">

        <span>About us</span>

    </div>

    <div class = "subHeading">

       <span> We let the beans do the talking.</span>

    </div>

    <div class="para">

        <span>

            Our mission is to provide you with good quality, <br>
            and hassle free cold brew. <br>
            <br>
            We pride ourselves on sourcing the highest quality, <br>
            free trade, Indian coffee. <br>
            <br>
            From farms with a story.<br>
            <br>

        </span>

    </div>


</div>
