<div class="mainText">

    <div class= "title">

        <span>About us</span>

    </div>

    <div class = "subHeading">

       <span> We let the beans do the talking.</span>

    </div>

    <div class="para">

        <span>
            
            Our mission is to provide you with good quality, <br>
            hassle free, cold brew. <br>
            That means we pride ourselves on sourcing the highest quality, <br>
            free trade, Indian coffee, <br>
            from farms with a story.<br>
            <br>
        
        </span>

    </div>


</div>
