


.homePage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0%;
    left: 0%;
    
    
}

.orderPage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    left: 0%;
    margin: auto;
    border-top: 3px solid #F7F7F2;
}

.aboutUsPage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 200vh;
    left: 0%;
    border-top: 3px solid #F7F7F2;
}

.contactPage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 300vh;
    left: 0%;
    border-top: 3px solid #F7F7F2;
}

