


.homePage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0%;
    left: 0%;  
    padding: none;
    margin: none;
   
}

.orderPage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    
}

.aboutUsPage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 200vh;
    left: 0%;
    background: linear-gradient(359.6deg, #CFB284 0.3%, #D7AE7A 42.2%, #DDAC73 67.36%, #E3A96B 91.02%);
   
}

.contactPage {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 300vh;
    left: 0%;
    background: linear-gradient(180deg, #CFB284 0%, #D4B07E 59.48%, #DBAD75 89.27%, #E3A96B 100%);
    
}

