<div class = "backdrop">



        <div class="hangTag">

            <img class = "hangTagSizing"
                 src = 'assets/Images/hangTag.png'
                 (load)="getThemeImageWidth()"
                 #themeImage>

        </div>

        <div class = "brewTextContent"
             [ngStyle]='{"left": ((themeImageWidth + 78).toString() + "px")}'>

            <div class = "title">

                <span class = "heading">Leisure</span><br>
                <span class = "subHeading">Cold Brew</span>

            </div>

            <div class = "paragraph">

                <span class = "paraHeading">

                    20% Honey Processed Robusta<br>
                    80% Mysore Nuggets Arabica
                    <br>
                    <br>

                </span>

                <span class = "paraContent">

                    With love from the cradle of Indian coffee, <br> Coorg and Chikmanglur.
                    <br><br>
                    Both beans are grown in the legendary  <br>
                    Baba Budan Hills, on the banks of <br>
                    the Harangi backwaters.
                    <br><br>
                    Named after Baba Budan, who smuggled <br>
                    India’s first beans in the hem of his robes,<br>
                    the Baba Budan Hills represent the<br>
                    birthplace of all Indian coffee.
                    <br>
                    <br>
                    Notes of Nuts, Plum and Chocolate.
                </span>

            </div>

         </div>

         <div class = "aboutUsButton">

            <img class = "orderpageSVGSize route"
                 src = "assets/Images/aboutUsButton.svg"
                 [routerLink]='"."'
                 [fragment]="'about'">

        </div>

        <div class = "contactButton">

            <img class = "orderpageSVGSize route"
                 src = "assets/Images/contactButton.svg"
                 [routerLink]='"."'
                 [fragment]="'contact'">

        </div>

        <div class="bottleDetails">

            <div class="first">

            <img src = "assets/Images/bottleDetails.svg">

            </div>

            <div class="orderMenu">

                <img src = "assets/Images/orderMenu.svg">

            </div>

            <div class = "dmButton">

                <img src = "assets/Images/dmButton.svg">

            </div>



        </div>





</div>
