<div class = "backdrop">



        <div class="hangTag">

            <img class = "hangTagSizing"
                 src = 'assets/Images/hangTag.png'
                 (load)="getThemeImageWidth()"
                 #themeImage>

        </div>

        <div class = "brewTextContent"
             [ngStyle]='{"left": windowWidth === 1125 ? ((themeImageWidth + 78).toString() + "px") : null}'>

            <div class = "title">

                <span class = "heading">Leisure</span><br>
                <span class = "subHeading">Cold Brew</span>

            </div>

            

            <div class = "paragraph">

                <span class = "paraHeading">

                    20% Honey Processed Robusta<br>
                    80% Mysore Nuggets Arabica
                    <br>
                    <br>

                </span>

                <span class = "paraContent">
                    With love from the cradle of Indian coffee, <br> Coorg and Chikmanglur.
                    <br><br>
                    <span class = "hideMe">
                    Both beans are grown on the banks of  <br>
                    the Harangi backwaters, in the legendary <br>
                    Baba Budan Hills.
                    <br><br>
                    Named after Baba Budan, who smuggled <br>
                    India’s first beans in the hem of his robes,<br>
                    <br>
                    </span>
                    <b>Notes of Nuts, Plum and Chocolate.</b>
                </span>

            </div>


            <div class = "moreInfoPhone">

                <img src = "assets/Images/moreInfoPhone.svg">

            </div>

        </div>


         <div class = "aboutUsButton">

            <img class = "orderpageSVGSize route"
                 src = "assets/Images/aboutUsButton.svg"
                 [routerLink]='"."'
                 [fragment]="'about'">

        </div>

        <div class = "contactButton">

            <img class = "orderpageSVGSize route"
                 src = "assets/Images/contactButton.svg"
                 [routerLink]='"."'
                 [fragment]="'contact'">

        </div>

        <div class="bottleDetails">

            <div class="orderMenu">

                <img src = "assets/Images/orderMenu.svg">

            </div>

            <div class = "dmButton">
              <a href='https://www.instagram.com/a_brewingcompany/' target="_blank">

                <img src = "assets/Images/dmButton.svg">
              </a>
            </div>



        </div>





</div>
