@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');

html {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: none;
text-size-adjust: none;
background-color: #CFB284;
}