<div class = "backdrop">

    <div class = "grid">

        <div class = "aboutUsButton">

            <img class = "landingpageSVGSize" src = "assets/Images/aboutUsButton.svg">

        </div>

        <div class = "orderButton" >

            <img class = "landingpageSVGSize" src = "assets/Images/orderButton.svg">

        </div>

        <div class = "contactButton" >

            <img class = "landingpageSVGSize" src = "assets/Images/contactButton.svg">

        </div>

        <div class = "tagline">

            <img src = "assets/Images/tagline.svg">

        </div>
        
        
        <div class="instaHandle">

            <img class = "instaSVGSize" src = "assets/Images/instaHandle.svg">

        </div>

        <div class="logoPic">

            <img class = "logoPicSizing" src = "assets/Images/logoPic.svg">

        </div>

    </div>

</div>
