<div class = "backdrop">

    <div class = "grid">

        
            
            <div class = "aboutUsButton"  >

                <img class = "landingpageSVGSize route"
                    src = "assets/Images/aboutUsButton.svg"
                    [routerLink]='"."'
                    [fragment]="'about'">

            </div>

            <div class = "orderButton">

                <img class = "landingpageSVGSize route"
                    src = "assets/Images/orderButton.svg"
                    [routerLink]='"."'
                    [fragment]="'order'">

            </div>

            <div class = "contactButton" >

                <img class = "landingpageSVGSize route"
                    src = "assets/Images/contactButton.svg"
                    [routerLink]='"."'
                    [fragment]="'contact'">

            </div>

       


            <div class="instaHandle">

                <a href='https://www.instagram.com/a_brewingcompany/' target="_blank">
                    <img class = "instaSVGSize route" src = "assets/Images/instaHandle.svg">
                </a>

            </div>

            <div class="logoPic">
          
                

                <img class = "logoPicSizing" src = "assets/Images/logoPic.svg">

            </div>

    </div>

</div>
