.backdrop {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    background:  linear-gradient(112.43deg, #E3A96A 12.48%, #CFB284 42.66%);
    display: grid;
    place-items: center;
}

.grid {
    height: 100vh;
    width: 800px;
}

.landingpageSVGSize {
    height: 113px;
    width: 95px;
}


.aboutUsButton {
    position: relative;
    padding-top: 182px;
    padding-left: 0px;
    display: inline-block;
    
}

.orderButton {
    position: relative;
    padding-top: 182px;
    padding-left: 61px;
    display: inline-block;
}

.contactButton {
    position: relative;
    padding-top: 182px;
    padding-left: 61px;
    display: inline-block;
}

.tagline {
    position: relative;
    display: block;
    padding-top: 109px;
    padding-left: 0px;

}


.instaHandle {
    position: relative;
    display: block;
    padding-top: 110px;
    padding-left: 0px;
}

.instaSVGSize {
    height: 50px;
    width: auto;
}

.logoPic {
    
    position: absolute;
    bottom: -5px;
    right: 10%;
    
}

.logoPicSizing {
    height: 70vh;
    width: auto;
}

@media only screen and (max-width: 800px) and (min-width: 550px) {
    
    
    .aboutUsButton {
        
        padding-top: 50px;
        padding-left: 30px;
         
    }
    
    .orderButton {
        
        padding-top: 20px;
       
    }
    
    .contactButton {
        
        padding-top: 20px;
        
    }

    .tagline {
        
        padding-top: 80px;
        padding-left: 10px;
    
    }

    .instaHandle {
       
        padding-top: 50px;
        padding-left: 30px;

    }

    .logoPic {
    
        bottom: 0px;
        
    }


  }



  @media only screen and (max-width: 550px) {

    


    .aboutUsButton {
        padding-top: none;
        padding-left: none;
        position: absolute;
    }
    
    
    
   

  }