.orderButton {
    position: absolute;
    top: 20px;
    right: 86px;
}

.contactButton {
    position: absolute;
    top: 20px;
    right: 19px;
}

.aboutUsSVGSize {
    height: 70px;
    width: auto;
}

.svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}