<div class = "orderButton">

    <img class = "aboutUsSVGSize route"
         src = "assets/Images/orderButton.svg"
         [routerLink]='"."'
         [fragment]="'order'">

</div>

<div class = "contactButton">

    <img class = "aboutUsSVGSize route"
         src = "assets/Images/aboutUsButton.svg"
         [routerLink]='"."'
         [fragment]="'about'">

</div>



  <div class="instaHandle">

    <a href='https://www.instagram.com/a_brewingcompany/' target="_blank">
        <img class = "instaSVGSize route" src = "assets/Images/contactUs.svg">
    </a>

</div>


